{% extends 'base.html' %}
{% block title %}Add expense{% endblock %}

{% block footer %}

{% if added_expense %}

{% endif %}
<script src="/js/date.js"></script>
<script src="/js/modal.js"></script>



{% endblock %}

{% block body %}

<div class="container">
  <h1>Add expense</h1>
  <div class="defaultForm">

        <form action="/expense/add" id='expenseForm'method="post">

          <div class="block">
            <label for="amount">amount</label>
            <input class="textInput" name="amount" id="amount" type="number" step="0.01" required"/>
          </div>

          <div class="block">
            <label for="date">Date</label>
            <input class="textInput" name="date" id="date" type="date" required"/>
          </div>

          <div class="block">
            <label for="paymentMethod">Payment method</label>

            <select name="method" class="textInput" id="method">
              {% for method in paymentMethods %}
              <option value={{method.id}}>{{method.name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="block">
            <label for="category">Expense category</label>
            <select name="category" class="textInput" id="category">
              {% for category in expenseCategories %}
              <option value={{category.id}}>{{category.name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" class="textInput" id="comment" name="comment" cols="39" rows="1" placeholder="Optional"></textarea>
          </div>

          <div class="link marginTop">
            <button type="submit" id="modalTrig">Add expense</button>
            <button><a href="/profile/show">Cancel</a></button>

          </div>
        </form>


<!--Modal -->


        <div id="myModal" tabindex="-1" role="dialog" class="displayNone" >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Expense</h5>
                <button type="button" class="close" data-dismiss="modal" >
                  <span >&times;</span>
                </button>
              </div>
              <div class="modal-body">
               New expense added successfully!
              </div>
              <div class="modal-footer">
                <button class="return"> <a href="/">Return to main</a></button>
                  <button class="addExpense"> <a href="/expense/new">Continue adding expenses</a></button>
              </div>
            </div>
          </div>
        </div>

    <!--         Modal -->


  </div>
</div>


{% endblock %}