{% extends 'base.html' %}
{% block title %}Balance{% endblock %}

{% block footer %}

<script src="/js/date.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
 let expensesJson = `{{chart_data | raw}}`;
 let expenses = JSON.parse(expensesJson);

 google.charts.load('current', {'packages':['corechart']});
 google.charts.setOnLoadCallback(drawChart);

 function drawChart() {
     let data = new google.visualization.DataTable();
     data.addColumn('string', 'Category');
     data.addColumn('number', 'Amount');

     for (let i=0; i<expenses.length; i++){
         data.addRows([
             [expenses[i].name, Number(expenses[i].amountSum)]
         ]);
     };

     const options = {
         backgroundColor: '#88bdbc',
     };

     const chart = new google.visualization.PieChart(document.getElementById('piechart'));
     chart.draw(data, options);
 }
</script>

<script>
    let incomesJson = `{{ incomes_chart_data | raw}}`;
    let incomes = JSON.parse(incomesJson);

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        let data = new google.visualization.DataTable();
        data.addColumn('string', 'Category');
        data.addColumn('number', 'Amount');

        for (let i=0; i<incomes.length; i++){
            data.addRows([
                [incomes[i].name, Number(incomes[i].amountSum)]
            ]);
        };

        const options = {
            backgroundColor: '#88bdbc',
        };

        const chart = new google.visualization.PieChart(document.getElementById('piechart_income'));
        chart.draw(data, options);
    }
</script>

<script>
    let range = '{{ range }}'
    if(range){
         document.getElementById("expense_row").style.display="flex";
        document.getElementById("income_row").style.display="flex";
    }

</script>


{% endblock %}



{% block body %}

<div class="wrapper">
<div class= "row">

    <div>
        <label class="textright" >Display period</label>
    <p>{{date_start}}</p>
    <p>{{date_end}}</p>
    </div>



        <form  action="/balance/index" method="post" name="form" id="balance" onChange="setDates();">
            <select name="range" id="range" >

                <option value="1"
                        {% if range==0 %}
                        selected
                        {% endif %}>Choose dates</option>


                <option value="1"
                        {% if range==1 %}
                        selected
                        {% endif %}>Current month</option>

                <option value="2"
                        {% if range==2 %}
                        selected
                        {% endif %}>Previous month</option>

                <option value="3"
                        {% if range==3 %}
                        selected
                        {% endif %}>Input dates</option>
            </select>

            <div class="dateSelector" >
                <label  for="date_start">Start date</label>
            <input class="textInput" name="date_start" id="date_start" type="date" required onChange="sendForm();"

                   {% if date_start %}
                   value = {{ date_start }}
                   {% endif %} >
        </div>
            <div class="dateSelector">
                <label class for="date_end">End date</label>
            <input class="textInput" name="date_end" id="date_end" type="date" required onChange="sendForm();"
                   {% if date_end %}
                   value = {{ date_end }}
                   {% endif %} >
            </div>
        </form>
<div class="balance_score">
    <p> Income: {{ incomes_sum }}</p>
    <p> Expense: {{ expense_sum }}</p>
    <hr />
    <p class="textright"> Total: {{ balance }}</p>

    {% if balance < 0 %}
    <p> Start saving up! You spend more than you make!</p>
    {% elseif balance > 0 %}
    <p> You are doing great! Keep up!</p>
    {% else %}
    <p> Keep track of your finances you are on edge!</p>
    {% endif %}

</div>
</div>
</div>






<div class="wrapper">
<div class="row" id="expense_row">
    <div class="titles">
        <img src="img/expense.png" alt="" class="img-balance">
        <h2 class="balance-item-header"> Expense</h2>
        <p> Total expense: {{ expense_sum }}</p>
        <hr>
    </div>
    <div class="piechart" id="piechart"></div>
    <table>
        <thead>
        <tr>
            <th class="table-head">No.</th>
            <th class="table-head">Date</th>
            <th class="table-head">Category</th>
            <th class="table-head desc">Method</th>
            <th class="table-head">Amount</th>
            <th class="table-head desc">Description</th>
        </tr>
        </thead>
        <tbody>

            {% for expense in expenses %}
            <tr>

            <td class="table-content">{{expense.id}}</td>
            <td class="table-content">{{expense.date_of_expense}}</td>
            <td class="table-content">{{expense.category}}</td>
            <td class="table-content desc">{{expense.method}}</td>
            <td class="table-content">{{expense.amount}}</td>
            <td class="table-content desc">{{expense.expense_comment}}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>


<div class="row" id="income_row">
    <div class="titles">
        <img src="img/income.png" alt="" class="img-balance">
        <h2 class="balance-item-header">Income</h2>
        <p> Total income: {{ incomes_sum }}</p>
        <hr>
    </div>
    <div class="piechart" id="piechart_income"></div>

    <table>
        <thead>
        <tr>
            <th class="table-head">No.</th>
            <th class="table-head">Date</th>
            <th class="table-head">Category</th>
            <th class="table-head">Amount</th>
            <th class="table-head desc">Description</th>
        </tr>
        </thead>
        <tbody>

        {% for income in incomes %}
        <tr>

            <td class="table-content">{{income.id}}</td>
            <td class="table-content">{{income.date_of_income}}</td>
            <td class="table-content">{{income.category}}</td>
            <td class="table-content">{{income.amount}}</td>
            <td class="table-content desc">{{income.income_comment}}</td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
</div>














{% endblock %}