{% extends 'base.html' %}
{% block title %}Balance{% endblock %}

{% block footer %}

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/chart.js"></script>

{% endblock %}






{% block body %}

<div class="main-balance">
    <div class="titles">
        <img src="img/expense.png" alt="" class="img-balance">
        <h2 class="balance-item-header"> Expense</h2>
        <p> Total expense: {{ expense_sum }}</p>
        <hr>
    </div>
    <div class="piechart" id="piechart"></div>
    <table>
        <thead>
        <tr>
            <th class="table-head">No.</th>
            <th class="table-head">Date</th>
            <th class="table-head">Category</th>
            <th class="table-head">Method</th>
            <th class="table-head">Amount</th>
            <th class="table-head">Description</th>
        </tr>
        </thead>
        <tbody>

            {% for expense in expenses %}
            <tr>

            <td class="table-content">{{expense.id}}</td>
            <td class="table-content">{{expense.date_of_expense}}</td>
            <td class="table-content">{{expense.category}}</td>
            <td class="table-content">{{expense.method}}</td>
            <td class="table-content">{{expense.amount}}</td>
            <td class="table-content">{{expense.expense_comment}}</td>
            </tr>

        {% endfor %}


{% set twigVariable = '123456' %}




        </tbody>
    </table>
</div>



{% endblock %}