{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container">
<h1>Login</h1>
<div class="defaultForm">
<form action='login/create' method="post">
    <div class="block">
    <label for="inputEmail">Email adress</label>
    <input type="email" class="textInput" id="inputEmail" name="email" placeholder="Email adress" autofocus value=" {{ email }}"/>
</div>
    <div class="block">
        <label for="inputPassword">Password</label>
        <input type="password" class="textInput" id="inputPassword" name="password" placeholder="Password" autofocus/>
    </div>
    <div>
    <label>
        <input type="checkbox" name="remember_me" {% if remember_me %} checked ='checked {% endif %}' />Remember me
    </label>
    </div>
    <div class="link">
    <button class="submit" type="submit"> Log in </button>
    <hr>

    <a href="/password/forgot">Forgot password?</a>
    </div>
</form>
</div>
</div>
{% endblock %}